{% extends "layout.html" %}
{% block title %}
Collection page
{% endblock %}
{% block content %}
<h1>Collection Profile Parser</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="files[]" multiple="true" autocomplete="off" required></p>
      <p><input type="submit" value="Upload"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
<form action = "http://localhost:5000/archival_object_parser/" method = "POST" 
enctype = "multipart/form-data">
<input type = "submit" value="Process"/>
</form>
<form action = "http://localhost:5000/download_files_archival_object/" method = "POST">
<input type = "submit" value="Download"/>
</form>

    {% endblock %}
