{% extends "layout.html" %}
{% block title %}
Collection page
{% endblock %}
{% block content %}
<h1>Collection Profile Parser</h1>
<form method="POST" action="" enctype="multipart/form-data">
  <p><input type="file" name="files[]" multiple="true" autocomplete="off" required></p>
  <p><button type="submit" class="btn btn-primary">Upload</button></p>
</form>

{% for file in files %}
<img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
{% endfor %}
<hr>
<form action="http://localhost:5000/archival_object_parser/" method="POST" enctype="multipart/form-data">
  <p><button type="submit" class="btn btn-primary">Process</button></p>
</form>
<hr>
<form action="http://localhost:5000/download_files_archival_object/" method="POST">
  <p><button type="submit" class="btn btn-primary">Download</button></p>
</form>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
  {% for message in messages %}
  <div class="alert alert-success">
    <strong>{{ message }}</strong>
  </div>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}