<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('person') }}" class="navbar-item">Person</a>
            <a href="{{ url_for('archival_object') }}" class="navbar-item">Collection</a>
            <a href="{{ url_for('built_works') }}" class="navbar-item">Built Works</a>
            <a href="{{ url_for('place') }}" class="navbar-item">Place</a>
            <a href="{{ url_for('group') }}" class="navbar-item">Group</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© EHT Zurich - GTA Institute - 2021 -</p>
            </footer>
        </div>
    </body>
</html>